$sb-green: (
  10: #c4ffcc,
  20: #6aff86,
  30: #00db57,
  40: #13c049,
  50: #00aa3c,
  60: #00852e,
  70: #006b23,
  80: #004b17,
  90: #0c3515,
  100: #07230d,
);

$sb-blue: (
  10: #ebf1ff,
  20: #c4d8ff,
  30: #9dbeff,
  40: #79a7ff,
  50: #548fff,
  60: #1f66ff,
  70: #093cf3,
  80: #001bcb,
  90: #00098a,
  100: #000033,
);

$sb-purple: (
  10: #ebebff,
  20: #d4d3ff,
  30: #b7b4ff,
  40: #a19bff,
  50: #8b82ff,
  60: #6a57ff,
  70: #5631f3,
  80: #3c13bd,
  90: #2c068a,
  100: #110033,
);
