<daff-hero class="test" color="primary">
  <div daffHeroTagline>Frontend framework for ecommerce PWAs</div>
  <h1 daffHeroTitle>Daffodil: The next great leap in ecommerce.</h1>
  <h2 daffHeroSubtitle>
    <p>
      Daffodil provides everything you need to create powerful and flexible
      ecommerce experiences.
    </p>
    <p>
      With Daffodil, ambitious businesses are able to achieve more while
      minimizing development and maintenance costs.
    </p>
  </h2>
  <button daff-button (click)="onClick()" class="switch-button">
    Switch to Dark Mode
  </button>
</daff-hero>
